.navbar {
   padding-top: 0;
   padding-bottom: 0;
}

.admin_nav_logo {
   width: 25px;
   margin-bottom: 5px;
   margin-right: 5px;
}

.user_nav_logo {
   width: 30px;
   margin-bottom: 5px;
   margin-right: 5px;
}
